.Cart{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.CartContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-left: 4rem;
    margin-right: 4rem;

    border: 1px solid red;

}

.SubtotalContainer{
    display:flex;
    justify-content: space-between;
}

.BottomContainer{
    margin-top: auto;
    margin-bottom: 5rem;
}

.ShoppingCartTextContainer{
    margin-top: 4rem;
    margin-bottom: 1rem;
}