.Cart{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.CartContainer{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    height: 100vh;
}
