.ShopItemContainer{
    display: flex;
    height: 100vh;
    width: 100%;
    border: 1px solid #ff0000
}

.ShopItemBigCard {
    height: 30rem;
    width: 35rem;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:4rem;
    margin-left:4rem;
    object-fit: contain;
  }
  
  
  .ShopItemSmallCard{
    height: 12.5rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
    margin-left:4rem;
    object-fit: contain;
  }
  
  .ShopItemCardContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  .ShopItemTextContainer{
    display: flex;
    height: 100vh;
    flex-direction: column;
  }